.category-card {
    border: 1px solid #e0e0e0; 
    border-radius: 8px;   
    overflow: hidden;        
    text-align: left;      
    display: flex;
    flex-direction: column;    
    box-shadow: 0 4px 10px rgba(0,0,0,0.1); 
    transition: transform 0.3s, box-shadow 0.3s; 
    background-color: var(--white);
}

.category-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 15px rgba(0,0,0,0.15); 
}

.category-card img {
    width: 100%;   
    height: 220px;       
    object-fit: contain;  
    background-color: #f7f7f7; 
    border-bottom: 1px solid #eee; 
    padding: 10px;/
}

.category-info {
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.category-info h3 {
    margin-top: 0;
    margin-bottom: 10px;
    color: var(--secondary-color);
}

.category-info p {
    margin-bottom: 15px;
    color: #666;
}

.category-card .btn-primary {
    margin-top: auto; 
    display: block;
    width: 100%; 
    text-align: center;
    padding: 12px 0; 
}
.gear-card img {
    height: 180px; 
    padding: 20px; 
    background-color: #ffffff;
}

.category-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 30px;
    margin-top: 20px;
}